{% extends 'base.html' %}

{% block main %}
<div class="white_bg create-recipe" style="transform: none;" ng-app="MealPlanner" ng-controller="NewRecipeCtrl">
            <div class="container margin_60" style="transform: none;">
                <div class="main_title">
                    <h2 class="nomargin_top">Create Recipe</h2>
                    <hr class="divider">
                </div>
                <form action="{{ url_for('add_recipe') }}" method="post" enctype="multipart/form-data" style="transform: none;">
                    <div class="row" style="transform: none;">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="recipetitle">Recipe title</label>
                                {{form.name(class="form-control",placeholder="Recipe title")}}
                            </div>
                            <style>
                              .new_ingredient{
                               
                              }
                              .new_ingredient input{
                                width:30%;
                                float: left;
                              }
                              .new_ingredient select{
                                width:35%;
                                float:left;
                              }
                            </style>
                            {% raw %}
                            <div class="new_ingredient ng-scope">
    	                       <input class='form-control' placeholder="Quantity"/>
                                    <select class='form-control'>
                                        <option ng-repeat="measurement in measurements">
                                    		  {{ measurement }}
                                    	</option>
                                    </select>
                                    <select class='form-control'>
                                        <option ng-repeat="ingred in ingredients">
                                            {{ ingred }}
                                        </option>
                                    </select>
                                </br>    
                            </div>
                            <div class="new_ingredient ng-scope">
    	                       <input class='form-control' placeholder="Quantity"/>
                                    <select class='form-control'>
                                        <option ng-repeat="measurement in measurements">
                                    		  {{ measurement }}
                                    	</option>
                                    </select>
                                    <select class='form-control'/>
                                        <option ng-repeat="ingred in ingredients">
                                            {{ ingred }}
                                        </option>
                                    </select>
                                </br>    
                            </div>
                            <div class="new_ingredient ng-scope">
    	                       <input class='form-control' placeholder="Quantity"/>
                                    <select class='form-control'/>
                                        <option ng-repeat="measurement in measurements">
                                    		  {{ measurement }}
                                    	</option>
                                    </select>
                                    <select class='form-control'>
                                        <option ng-repeat="ingred in ingredients">
                                            {{ ingred }}
                                        </option>
                                    </select>
                                </br>    
                            </div>
                            <div class="new_ingredient ng-scope">
    	                       <input class='form-control' placeholder="Quantity"/>
                                    <select class='form-control'>
                                        <option ng-repeat="measurement in measurements">
                                    		  {{ measurement }}
                                    	</option>
                                    </select>
                                    <select class='form-control'>
                                        <option ng-repeat="ingred in ingredients">
                                            {{ ingred }}
                                        </option>
                                    </select>
                                </br>    
                            </div>
                            </br>
                            {% endraw %}
                            </br>
                            </br>
                            <div >
                                <div class="form-group">
    	                            {{form.instruction1(class='form-control',placeholder='instruction1')}}
    	                        </div>
    	                        <div class="form-group">
    	                            {{form.instruction2(class='form-control',placeholder='instruction2')}}
    	                        </div>
    	                        <div class="form-group">
    	                            {{form.instruction3(class='form-control',placeholder='instruction3')}}
    	                        </div>
    	                        <div class="form-group">
    	                            {{form.instruction4(class='form-control',placeholder='instruction4')}}
    	                        </div>
    	                        <center>
    	                        <div class="form-group">
                                    <div class="recipe-button">
                                        {{form.submit(class="btn btn-ingredient")}}
                                    </div>
                                </div>
                                </center>
                            </div>
                        </div>
                        <aside class="col-md-4 sidebar sticky-sidebar" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
                            <div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static; transform: none; top: 0px; left: 849.99px;">
                                <div class="form-group">
                                    <div class="add-photo">
                                        <label for="uploadedfile" type="file" class="icon-picture gray">
                                            {{form.uploadedfile}}
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="preptime">Prep time</label>
                                    {{form.preptime(class="form-control",placeholder="Prep time")}}
                                </div>
                                <div class="form-group">
                                    <label for="cooktime">Cook time</label>
                                    {{form.cooktime(class="form-control",placeholder="Cook time")}}
                                </div>
                                <div class="form-group">
                                    <label for="numberofservings">Number of servings</label>
                                    {{form.serving(class="form-control",placeholder="Number of servings")}}
                                </div>
                                <div class="form-group">
                                    <label for="diet type">Number of servings</label>
                                    {{form.diettype(class="form-control",placeholder="Vegan, Vegetarian, Diabetic or Classic")}}
                                </div>
                            <div class="resize-sensor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; z-index: -1; visibility: hidden;"><div class="resize-sensor-expand" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;"><div style="position: absolute; left: 0px; top: 0px; transition: 0s; width: 400px; height: 572px;"></div></div><div class="resize-sensor-shrink" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;"><div style="position: absolute; left: 0; top: 0; transition: 0s; width: 200%; height: 200%"></div></div></div></div>    
                        </aside>
                    </div>
                    </br>
                </form>
            </div><!-- End container -->
        </div>
{% endblock %}