{% extends "base.html" %}

{% block main %}
<section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-5">
                <span class="section-heading-lower">Meal Plan generator</span>
              </h2>
              <div class="container" ng-app="MealPlanner" ng-controller="GenMealPlanCtrl">
                  <div class="modal-dialog">
                      <div class="modal-content">
                           <div class="modal-body">
                               <div class="form-group">
                                  <input class="form-control input-lg", placeholder="Calorie Count" type="text" name="calorie"/>
                                   <span  class="error" id="uname_error"></span>
                               </div>
                               <div class="form-group">
                                 <button class="btn btn-block btn-lg btn-primary"><a href="{{url_for('newMealPlan')}}" ng-click="dostuff()">Generate MealPlan</a></button>
                               </div>
                               </br>
                               <div>
                                 {% raw %}
                                <div class='col col-md-12'>
                                  <label>Breakfast</label>
                                  <div class="row border-style center profile profiles-container2" ng-repeat="breakfast in breakfasts">
                                    <p>day</p> {{ $index + 1 }} | Meal: {{ breakfast[0]}}
                                     <div class="form-control">
                                        Calorie: {{breakfast [1]}}
                                      </div>
                                  </div>
                                </div>
                                
                                <div class='col col-md-12'>
                                  <label>Lunch</label>
                                  <div class="row border-style center profile profiles-container2" ng-repeat="lunch in lunches">
                                      <p>day</p> {{ $index + 1 }} | Meal: {{lunch[0]}}
                                      <div class="form-control">
                                        Calorie: {{lunch [1]}}
                                      </div>
                                  </div>
                                </div>
                                
                                <div class='col col-md-12'>
                                  <label>Dinner</label>
                                  <div class="row border-style center profile profiles-container2" ng-repeat="dinner in dinners">
                                      <p>day</p> {{ $index + 1 }} | Meal: {{dinner[0]}}
                                      <div class="form-control">
                                        Calorie: {{dinner [1]}}
                                      </div>
                                  </div>
                                </div>
                                {% endraw %}
                               </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}