{% extends 'base.html' %}

{% block main %}
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
                <h1 class="title"><strong>Kitchen</strong></h1>
                    <div class="row border-style center profile profiles-container">
                        <center></center>
                        <table align="center">
                            <th> Quantity </th>
                            <th> Item Name </th>
                        {% for item in kitchen %}
                                <TR>
                                   <TD>{{item [0]}}</TD>
                                   <TD>{{item [1]}}</TD>
                                </TR>
                        {% endfor %}
                         </table>
                         </center>
                    </div>
             </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}