{% extends "base.html" %}
{% block css %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}" type="text/css" />

{% endblock %}


{% block main %}
<div class = "layout border-style">
	<div class="modal-dialog">
		<div class="span4 well">
            <div class="row">
        		    <img class = "profilePic"src="{{ url_for('static', filename='recipeImages/') }}"/>
        		<div class="col pos_title">
        			<h2><strong></strong></h2>
                  	<p><i class="fa fa-envelope-o"></i> </p>
                 </div>
        	</div>
        	<div class="bio">
                    <p class="text-left"><strong>About Me: </strong></p>
        	</div>
        	<div class="profile-userbuttons">
        	    <center>
					<button type="button" class="btn btn-success btn-sm">Send messaage</button>
					<button type="button" class="btn btn-primary btn-sm">follow</button>
				</center>
			</div>
	</div>
</div>
{% endblock %}