{% extends 'base.html' %}

{% block main %}
    <h1 class="title"><strong>Recipes</strong></h1>
        {% for recipe in recipes %}
            <div class="row border-style center profile profiles-containe">
                <image src="{{ url_for('static', filename='recipeImages/'+recipe.recipe_picture) }}" class="pro_pic">
                    <div class="col pro-data">
                        <span class="name">name: {{recipe.recipe_name }}</span></br>
                        <span class="name">prep time: {{recipe.prep_time }}</span></br>
                        <span class="name">cook time: {{recipe.cook_time }}</span>
                    </div>
                <div class="view-profile center col bio">
                    </br>
                    <a class="view-btn btn-recipe" href="{{ url_for('recipedetails', recipeid=recipe['recipe_id']) }}">View Recipe</a>
                </div>
            </div>
        {% endfor %}
{% endblock %}